#root {
  background-color: lightblue;
}

.body_block {
  background-color: white;
  height: 600px;
  margin: 0 auto;
  width: 92%;
}

.fa-film {  
  color: white;
  padding: 14px;
}

form {
  padding: 25px 25px 15px;
}

.header {
  background: linear-gradient(90deg, rgba(254,97,0,1) 0%, rgba(252,88,0,1) 30%, rgba(252,54,0,1) 85%, rgba(227,45,0,1) 100%);
  width: 92%;
  height: 96px;
  margin: 0 auto;
}

.input_box {
  display: inline-block;
}

.list li, input {
  list-style-type: none;
  font-weight: bold;
  font-size: 16px;
}
.list p, ul {
  margin: 0;
  font-size: 14px;
}
.list div {
  padding: 4px;
}

.list {
  padding: 0;
  margin-left: 48px;
  background-color: white;
}

.main_bckg {
  width: 100%;
  background-image: url("Sky-Wallpapers-Free-Download-Photo.jpg");
}

.movies_box {
  position: relative;
  border: 1px solid rgba(164, 164, 164, 0.5);
  background-color: white;
  margin-left: 48px;
}

::placeholder {
  color: white;
  background: none;
}

.plcholder {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  color: grey;
  position: absolute;
}

.results_box .fa-lg {
  color: black;
}

.results_box {
  overflow: hidden;
  padding: 6px 0;
  background-color: white;
  margin-left: 48px;
  margin-top: -55px;
  position: relative;
}

.results_box input {
  color: black;
  width: 500px;
  font-size: 14px;
  border: none;
  outline: none;
  background: none;
  position: relative;
  top: -4px;
}

.search_box {
  display: inline-block;
}

.search_box i {
  position: absolute;
  top: 20px;
  background-color: white;
  padding: 9.6px;
  color: orange;
}

.square {
  background-color: white;
  border-radius: 1px;
}

.text_box {
  overflow: hidden;
  padding: 14px 0;
  display: inline;
  margin-right: 5px;
  background-color: rgba(255, 255, 255, 0.3);
}

.text_box input {
  color: white;
  width: 92%;
  font-size: 14px;
  border: none;
  outline: none;
  background: none;
  position: relative;
}