#root {
  width: 60%;
}

.list li, input {
  list-style-type: none;
  font-weight: bold;
  font-size: 16px;
}
.list p, ul {
  margin: 0;
  font-size: 14px;
}
.list div {
  padding: 10px;
}

.header {
  background: linear-gradient(90deg, rgba(254,97,0,1) 0%, rgba(252,88,0,1) 30%, rgba(252,54,0,1) 85%, rgba(227,45,0,1) 100%);
  width: 700px;
  height: 96px;
}

::placeholder {
  color: white;
  background: none;
}

.textbox {
  overflow: hidden;
  padding: 14px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: inline;
  margin-right: 5px;
  background-color: rgba(255, 255, 255, 0.3);
}

.textbox input {
  color: white;
  width: 500px;
  font-size: 14px;
  border: none;
  outline: none;
  background: none;
  position: relative;
}

.fa-film {  
  color: white;
  padding: 14px;
}

/* .textbox i {
  float: left;
  padding: 15.6px 12px;
  font-size: 20px;
  color: white;
} */

.searchbox {
  display: inline-block;
}

.searchbox i {
  position: absolute;
  top: 20px;
  background-color: white;
  padding: 9.6px;
  color: orange;
}

.square {
  background-color: white;
  border-radius: 1px;
}

.resultsbox {
  overflow: hidden;
  padding: 14px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: inline;
  margin-right: 5px;
  background-color: rgba(255, 255, 255, 0.3);
}

.resultsbox input {
  color: white;
  width: 500px;
  font-size: 14px;
  border: none;
  outline: none;
  background: none;
  position: relative;
}
